@charset "UTF-8" ;
/* Resetando margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Fundo preto */
    color: #e0e0e0; /* Texto em cinza claro */
    line-height: 1.6;
    padding: 20px;
}

/* Estilo para o cabeçalho */
header {
    background-color: #1c1c1c; /* Preto suave */
    color: #f5f5f5; /* Texto em branco */
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Estilo para o título secundário */
h2 {
    font-size: 1.8em;
    color: #f5f5f5; /* Branco suave */
    margin-bottom: 20px;
    font-weight: normal;
}

/* Estilo para o parágrafo principal */
main p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #e0e0e0; /* Texto claro */
    margin-bottom: 30px;
}

/* Estilo para listas numeradas */
main ul {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 30px;
